@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>

@if (Model.FormSubmittedSuccessfully)
{
    @* --- TEIL 1: WIRD NACH DEM ABSENDEN ANGEZEIGT --- *@

    <h2>Confirmation</h2>
    <p>
        If an account with this email exists, we have sent an email with instructions to reset your password.
    </p>

    @if (!string.IsNullOrEmpty(Model.DebugLink))
    {
        <hr />
        <h1>DEBUG</h1>
        <p>
            The application is configured for development.
            The email was not actually sent. Click this link to reset your password:
        </p>
        <p>
            <a href="@Model.DebugLink">@Model.DebugLink</a>
        </p>
    }
}
else
{
    @* --- TEIL 2: WIRD BEIM ERSTEN AUFRUF ANGEZEIGT --- *@

    <h2>Enter your email.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}