@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierung abgeschlossen";
}

<h1>@ViewData["Title"]</h1>

@if (ViewData["InfoMessage"] != null)
{
    <p>
        @ViewData["InfoMessage"]
    </p>
}